.gjs-one-bg {
    background-color: #111827;
}
#gjs {
    border: 3px solid #111827;
}
.gjs-two-color {
    color: rgba(255, 255, 255, 0.7);
}
.gjs-four-color,
.gjs-four-color-h:hover {
  color: #fff;
}

.custom-code-editor .gjs-cm-editor-c:first-of-type{width: 53%;} 
.custom-code-editor .gjs-cm-editor-c:nth-child(2){width: 45%; margin-left: 10px;} 
.custom-code-editor .gjs-btn-prim{margin-top: 10px}
.custom-code-editor .gjs-cm-editor#gjs-cm-css {
    padding-left: 0;
}
.gjs-rte-action:last-child{width: auto;}
select.gjs-field option{background-color: #111827;}
.gjs-pn-views{border-bottom: 0;}
.gjs-mdl-container{position: absolute; width: 100%; left: 50%; bottom: auto; right: auto; -webkit-transform: translate(-50%, 0%); transform: translate(-50%, 0%);}
.gjs-mdl-dialog{width: 100%; margin: 0 auto;}
.gjs-pn-views-container{padding: 2px 0 0; margin: 40px 0 0; height: calc(100% - 40px);}
@media only screen and (max-width: 1360px) {
    .gjs-pn-views{width: 18%;}
    .gjs-pn-options{right: 18%;}
    .gjs-pn-views-container{width: 20%;}
    .gjs-cv-canvas{width: 80%;}
}
@media only screen and (max-width: 767px) {
    .gjs-mdl-dialog{width: 90%; margin: auto;}
}
.gjs-editor, .gjs-block-label, .gjs-clm-tags, .gjs-sm-properties, .gjs-layer, .gjs-trt-traits{font-size: 0.9rem !important;}
@media only screen and (max-width: 760px) {
    .gjs-editor, .gjs-block-label, .gjs-clm-tags, .gjs-sm-properties, .gjs-layer, .gjs-trt-traits{font-size: 0.7rem !important;}
}
@media only screen and (max-width: 1024px) {
    .gjs-editor, .gjs-block-label, .gjs-clm-tags, .gjs-sm-properties, .gjs-layer, .gjs-trt-traits{font-size: 0.8rem !important;}
    
}

.gjs-rte-action:last-child{width: auto;}
select.gjs-field option{background-color: #111827;}
.gjs-editor, .gjs-block-label, .gjs-clm-tags, .gjs-sm-properties, .gjs-layer, .gjs-trt-traits{font-size: 1rem !important;}
