.gjs-one-bg {
    background-color: #111827;
}
#gjs {
    border: 3px solid #111827;
}
.gjs-two-color {
    color: rgba(255, 255, 255, 0.7);
}
.gjs-four-color,
.gjs-four-color-h:hover {
  color: #fff;
}

.custom-code-editor .gjs-cm-editor-c:first-of-type{width: 53%;} 
.custom-code-editor .gjs-cm-editor-c:nth-child(2){width: 45%; margin-left: 10px;} 
.custom-code-editor .gjs-btn-prim{margin-top: 10px}
.custom-code-editor .gjs-cm-editor#gjs-cm-css {
    padding-left: 0;
}
.gjs-rte-action:last-child{width: auto;}
select.gjs-field option{background-color: #111827;}