.gjs-one-bg {
    background-color: #111827;
}
#gjs {
    border: 3px solid #111827;
}
.gjs-two-color {
    color: rgba(255, 255, 255, 0.7);
}
.gjs-four-color,
.gjs-four-color-h:hover {
  color: #fff;
}
 
.custom-code-editor .gjs-cm-editor-c:first-of-type{width: 59%;} 
.custom-code-editor .gjs-cm-editor-c:nth-child(2){width: 38%; margin-left: 10px;} 
.custom-code-editor .gjs-btn-prim{margin-top: 10px}
.custom-code-editor .gjs-cm-editor {
    padding-left: 0;
}
.gjs-rte-action:last-child{width: auto;}
 select.gjs-field option{background-color: #111827;}
.gjs-pn-views{border-bottom: 0;}
/* .gjs-mdl-container{position: absolute; width: 100%; left: 280px; bottom: auto; right: auto; -webkit-transform: translate(-50%, 0%); transform: translate(-50%, 0%);} */
/* .gjs-mdl-dialog{width: 100%; margin: 0 auto;} */
/* .gjs-pn-views-container{padding: 2px 0 0; margin: 40px 0 0; height: calc(100% - 40px);}  */
.gjs-pn-panel.gjs-pn-options.gjs-one-bg.gjs-two-color{z-index: 9;}
.gjs-mdl-dialog{width: 100%;}
.gjs-cm-editor-c .CodeMirror{height: 450px;}
.grapes-modal-editor-fullscreen, .grapes-modal-editor-close{position: absolute; top: 14px; right: 42px; font-size: 15px;}
.grapes-modal-editor-close{right: 20px; font-size: 20px;}
.grapes-modal-editor-fullscreen i:before, .grapes-modal-editor-close i:before{color: rgba(255, 255, 255, 0.3)}
.grapes-modal-editor-fullscreen:hover i:before, .grapes-modal-editor-close:hover i:before{color: rgba(255, 255, 255, 0.6)}
.gjs-fullscreen-mode .gjs-cm-editor-c .CodeMirror{height: 85vh;}
.grapes-modal-editor-container{display: flex; flex-direction: column;}
.grapes-modal-editor-body{display: flex; justify-content: space-between;}
.gjs-mdl-btn-close{display: none;}
@media only screen and (max-width: 1360px) {
    .gjs-pn-views{width: 20%;}
    .gjs-pn-options{right: 20%;}
    .gjs-pn-views-container{width: 20%;}
    .gjs-cv-canvas{width: 80%;}
    .gjs-mdl-dialog{width: 90%;}
} 
@media only screen and (max-width: 768px) {
    .gjs-pn-views-container{width: 25%;}
    .gjs-cv-canvas{width: 75%;}
    .gjs-mdl-dialog{width: 90%; margin: auto;}
}
.gjs-editor, .gjs-block-label, .gjs-clm-tags, .gjs-sm-properties, .gjs-layer, .gjs-trt-traits{font-size: 0.9rem !important;}
@media only screen and (max-width: 760px) {
    .gjs-editor, .gjs-block-label, .gjs-clm-tags, .gjs-sm-properties, .gjs-layer, .gjs-trt-traits{font-size: 0.7rem !important;}
}
@media only screen and (max-width: 1024px) {
    .gjs-editor, .gjs-block-label, .gjs-clm-tags, .gjs-sm-properties, .gjs-layer, .gjs-trt-traits{font-size: 0.8rem !important;}
    
}

.gjs-rte-action:last-child{width: auto;}
select.gjs-field option{background-color: #111827;}
.gjs-editor, .gjs-block-label, .gjs-clm-tags, .gjs-sm-properties, .gjs-layer, .gjs-trt-traits{font-size: 1rem !important;}
