.muiltr-5sur5n-MuiTabs-root{width: 20%;}
.MuiTabs-root.MuiTabs-vertical .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected{background-color: #111827;color: rgb(255,255,255);}
.MuiTabs-root.MuiTabs-vertical .MuiButtonBase-root{align-items: center; min-height: 55px; justify-content: start;}